/* Style à porté global  */
/* root est au même niveau qu'HTML */
:root {
	background-color: white;
	/* Maintenant si on fait met une taille : 500px/16px = 31,25rem  tout s'armonise en concéquence donc plus d'autre px dans le reste du projet*/
	font-size: 16px;
    /* Toutes les couleurs utilisées sur le site */
    --color-body: #00330d;
    --background-body: #ffffff;
    --color-hero: #548072;
    --color-passagesouris: #0ace0a;
    --texte-clair: #d6e7e1;
    --background-entete: #eef7f4; 
}

*{
    box-sizing: border-box;
}

body {
    background-color: var(--background-body);
    color: var(--color-body);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-body);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Ne restera pas à la fin */
.banniere {
    background: #EBB300;
    border: 2px solid #D47E00;
    box-shadow: 0 0 5px #D47E00; /*Ombre*/
    position: sticky;
    top: 0;
    z-index: 1;
    text-align: center;
}
/* Ne restera pas à la fin */