/* Style à porté global  */
/* root est au même niveau qu'HTML */
:root {
	background-color: white;
	/* Maintenant si on fait met une taille : 500px/16px = 31,25rem  tout s'armonise en concéquence donc plus d'autre px dans le reste du projet*/
	font-size: 16px;
    /* Toutes les couleurs utilisées sur le site */
    --color-text: #00330d;
    --background-body: #ffffff;
    --color-hero: #548072;
    --color-passagesouris: #0ace0a;
    --text-clair: #d6e7e1;
    --background-entete: #eef7f4; 
}

* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none; 
}

body {
    background-color: var(--background-body);
    color: var(--color-text);
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: var(--color-text);
    text-transform: uppercase;
}

/* Header */
header { 
    background: var(--background-entete);
    border-bottom: 1px solid #eee;
    box-shadow: 0 0 5px #548072; 
    position: sticky;
    top: 0;
    z-index: 1;
    margin-bottom: 1rem;
}

header .logo {
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 3.4rem;
    left: 110%;
    width: 0;
    overflow: hidden;
    opacity: 0;
    height: calc(100vh -3.4rem);
    background: var(--background-entete);
    transition: all 0.4s ease-out;
}

header a  {
    color: var(--color-text);
}

header a:hover {
    color: var(--color-passagesouris);
}

/* A revoir dès lorsque les svg seront mis */
.socials {
    display: flex;
}
.socials li {
    margin-bottom: 0;
}
.socials a {
    padding: 0 2px;
}
.socials .icon {
    height: 1.1rem;
}
/* Burger */
.burger {
    background: none;
    border: none;
    width: 2.1rem;
    height: 2.1rem;
    cursor: pointer;
}

.burger .bar, .burger .bar::before, .burger .bar::after {
    display: block;
    content: "";
    width: 1.3rem;
    height: 0.2rem;
    background-color: var(--color-text);
    position: absolute;
}

.burger .bar::before {
    transform: translateY(-0.5rem);
}

.burger .bar::after {
    transform: translateY(0.5rem);
}

/* Ne restera pas à la fin */
.banniere {
    background: #EBB300;
    border: 0.2rem solid #D47E00;
    box-shadow: 0 0 0.3rem #D47E00; /*Ombre*/
    position: sticky;
    top: 0;
    z-index: 1;
}

.banniere p {
    padding: 0.5rem;
    text-align: center;
}
/* Ne restera pas à la fin */



@media screen and (max-width: 425px) { /*Mobile*/

}

@media screen and (min-width: 426px) and (max-width: 768px) { /*Tablette*/
    header .logo {
        font-size: 1.5rem;
        letter-spacing: 1px;
    }

    header li {
        font-size: 1.5rem;
        padding: 0 .5rem;
    }
}

@media screen and (min-width: 769px) { /*PC*/
    header .logo {
        font-size: 2rem;
        letter-spacing: 2px;
    }
    header li {
        font-size: 2rem;
        padding: 0.5rem;
    }

}

p {
    margin: 1rem;
}

/* about */
.left img {
    width: 10rem;
}