/* Style à porté global  */
/* root est au même niveau qu'HTML */
:root {
	background-color: white;
	/* Maintenant si on fait met une taille : 500px/16px = 31,25rem  tout s'armonise en concéquence donc plus d'autre px dans le reste du projet*/
	
	font-size: 16px;
}

.container {
    width: 31.25rem;
    margin: 2rem auto;
    padding: 2rem;
    background: lightgray;
}
nav ul {
display: flex;
gap: 2rem;
}

